
	.editor {
		background: #CCC;
		font-family: Courier New, Courier, monospace;
		font-size: 12px;
		width: 800px;
		height: 300px;
		overflow: auto;
	}

	.code-line {
		white-space: pre;
		border: 1px solid #ddd;
		margin: 0px;
		padding: 0px;
		-moz-border-radius: 8px;
	}

